.container{
  position: relative;
  overflow: hidden;
}
.container .image-slider{
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth; /*顺滑*/
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.nav-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.nav-section .slider-botton {
  display: flex;
  width: 10px;
  height: 10px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px;
}

 .image-slider img{
  scroll-snap-align: start;
  height: 100%;
  width: 100%;
  object-fit: cover; /*保持原有尺寸比例。保证替换内容尺寸一定大于容器尺寸，宽度和高度至少有一个和容器一致。*/
}

.nav-section .slider-button-select{
  background-color: red;
}
