ul {
  margin: 0;
  padding: 0;
  display: flex;
}

ul li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 7px;
  padding: 0;
  white-space: nowrap;
}

a {
  text-decoration: none;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  display: none;
}

.active {
  color: red;
  border-bottom: brown 2px dotted ;
}
/*
.indicator {
  background: brown;
  height: 2px;
  width: 10px;
  margin-top: 2px;
} */

