ul {
  margin: 0;
  padding: 0;
  display: flex;
}

ul li{
  display: inline;
  margin: 0 7px;
  padding: 0;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
